* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 40px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    color: white;
    background-color: purple;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    outline: none;
}

button {
    color: white;
    border: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: purple;
    cursor: pointer;
}

.AddTask {
    margin-top: 40px;
}

.comment-cell {
    max-width: 400px; 
    word-wrap: break-word; 
}