* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f1f1f1;
}

.header__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-size: 24px;
}

.container {
    padding: 80px 0;
    max-width: 1024px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        max-width: 768px;
        width: 100%;
        padding: 80px 8px;
    }
}

table {
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    overflow: hidden;

}

#mid {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

th {
    padding: 8px;
    color: #fff;
    background-color: #7e7e7e;
}

.AddTask {
    margin-top: 40px;
}

.id {
    width: auto;
    color: #111;
    font-size: 14px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.comment-cell {
    max-width: 400px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    word-wrap: break-word;

    @media (max-width: 768px) {
        max-width: 200px;
    }
}

.data {
    width: 10%;
    color: #111;
    font-size: 14px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.AddTask {
    width: 100%;
}

#task-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
}

#task-input {
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    color: #444444;
}

.relative {
    position: relative;
    height: 54px;
    width: 64px;
}

button {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 94%;
    height: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    background-color: #272727;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
    transition: transform 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @media (max-width: 768px) {
        width: 100%;
        height: 100%;
    }
}

button:hover {
    transform: translateY(2.5px);
}



#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #7e7e7e;
    z-index: 1;

    @media (max-width: 768px) {
        display: none;
    }
}